[run]
branch = True
data_file = .coverage
source=edx_exams
relative_files = True
omit =
    edx_exams/settings/*
    edx_exams/conf*
    edx_exams/docker_gunicorn_configuration.py
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*
