{% extends 'admin/change_form.html' %}

{% block content %}
    {{ block.super }}
    {% if adminform.form.instance.exam.provider %}
        <div class="launch-row">
            <a
                target="_blank"
                href="{{LTI_ROOT}}/lti/start_proctoring/{{adminform.form.instance.id}}"
                style="color:white;background-color:blue;padding:10px 15px;"
            >
                Launch {{ adminform.form.instance.exam.provider.verbose_name }}
            </a>
        </div>
    {% endif %}
{% endblock %}
